/*
.home {
  display: flex;
}

body > div {
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 1.5rem;
  margin-right: 2.5rem;
}

span {
  background: #ffffff;
}

span {
  background: #ffffff;
}
*/
